<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="ReCoPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>com.reco.entidades.MAlumno</class>
    <class>com.reco.entidades.MReparacion</class>
    <class>com.reco.entidades.VprofesorEreporte</class>
    <class>com.reco.entidades.MReporte</class>
    <class>com.reco.entidades.EReporte</class>
    <class>com.reco.entidades.CPermiso</class>
    <class>com.reco.entidades.CEstadoReporte</class>
    <class>com.reco.entidades.MTipoUsuario</class>
    <class>com.reco.entidades.MEquipo</class>
    <class>com.reco.entidades.MUsuario</class>
    <class>com.reco.entidades.CTipoFalla</class>
    <class>com.reco.entidades.MLaboratorio</class>
    <class>com.reco.entidades.MProfesor</class>
    <class>com.reco.entidades.MTecnico</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/ReCoBD?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.password" value="n0m3l0"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
    </properties>
  </persistence-unit>
</persistence>
